apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: monitoring
spec:
  selector:
    app: monitoring-backend
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
  type: ClusterIP
